[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "msi"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "aarch64-unknown-linux-gnu",
    "aarch64-pc-windows-msvc",
    "arm-unknown-linux-gnueabihf",
    "arm-unknown-linux-musleabihf",
    "armv7-unknown-linux-gnueabihf",
    "armv7-unknown-linux-musleabihf",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "x86_64-pc-windows-msvc",
]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = true

[dist.github-custom-runners]
global = "ubuntu-latest"
aarch64-apple-darwin = "macos-14"
aarch64-unknown-linux-gnu = "ubuntu-latest"
arm-unknown-linux-gnueabihf = "ubuntu-latest"
arm-unknown-linux-musleabihf = "ubuntu-latest"
x86_64-apple-darwin = "macos-13"
#aarch64-pc-windows-msvc = "windows-latest"
x86_64-pc-windows-msvc = "windows-latest"
armv7-unknown-linux-gnueabihf = "ubuntu-latest"
armv7-unknown-linux-musleabihf = "ubuntu-latest"
x86_64-unknown-linux-musl = "ubuntu-latest"
x86_64-unknown-linux-gnu = "ubuntu-latest"

[dist.dependencies.apt]
libgtk-3-dev = '*'
libxcb-render0-dev = '*'
libxcb-shape0-dev = '*'
libxcb-xfixes0-dev = '*'
libspeechd-dev = '*'
libxkbcommon-dev = '*'
libssl-dev = '*'
